<div class='homescreen row'>
  <div class='col'>
  </div>

  <div class='col-52 homeCol'>
    <br></br>
    <br></br>
    <h2 class="title">FloppyBird</h2>
    <br></br>
    <img class="birds" ng-src="img/sprite.png">
    <br></br>
    <a href='#/game'><i class="play fa fa-play-circle-o fa-5x"></i></a>
    <div class="row">
      <div class="col">
        <button class="button button-small button-block button-positive">Sign In</button>
      </div>
      <div class="col">
        <button class="button button-small button-block button-energized">Sign Up</button>
      </div>
    </div>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <p class='copyright'>created by Alya, Ethan, Jared, Jeremy</p>
  </div>
  <div class='col'>
  </div>
</div>
