<div class='row'>
  <div class='col'>
  </div>
  <div class='col home-col' >
  	<h2>Tap Game
  </div>
  <div class='col'>
  </div>
</div>

<div class='row'>
  <div class='col'>
  </div>
  <div class='col home-col' >
    <a href='#/game'><i class="play-icon ion-play"></i></a>
  </div>
  <div class='col'>
  </div>
</div>

<div class='bar bar-footer'>
	<div class='col'>
		<a href='#/'><i class='footer-icons ion-edit'></i></a>
	</div>
	<div class='col'>
		<a href='#/'><i class='footer-icons ion-person'></i></a>
	</div>
	<div class='col'>
		<a href='#/'><i class='footer-icons ion-gear-a'></i></a>
	</div>
</div>