<div class="homescreen row">
  <div class='col'>
    <a href='#/home'><i class="back fa fa-arrow-circle-o-left fa-2x"></i></a>
  </div>
  <div class="col-52 homecol">
    <br></br>

    <h1 class="title">Sign Up</h1>

    <div class="list">
      <!-- <label class="item item-input item-stacked-label">
        <span class="input-label scores">User Tag</span>
        <input type="text" ng-model='MC.user_name'>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label scores">Email</span>
        <input type="email" ng-model='MC.email'>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label scores">Password</span>
        <input type="password" ng-model='MC.password'>
      </label> -->
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" ng-model='MC.user_name' placeholder="User Tag (3 letters)">
        </label>
        <label class="item item-input">
          <input type="email" ng-model='MC.email' placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" ng-model='MC.password' placeholder="Password">
        </label>
      </div>
      <a href='#/home'>
        <button ng-click='MC.signUp(MC.user_name, MC.email, MC.password)' class="button button-block button-positive">
          Sign Up
        </button>
      </a>
    </div>
  </div>
  <div class='col'>
  </div>
</div>
