  <div class='row'>
    <div class='col'>
      <a href='#/home'><i class=" play back fa fa-arrow-circle-o-left fa-2x"></i></a>
    </div>
    <div class='col'>
      <br >
      <h3>Sign Up</h3>
    </div>
    <div class='col'>
    </div>
  </div>

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">User Tag</span>
    <input type="text" ng-model='MC.user_name' placeholder="FB">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="email" ng-model='MC.email' placeholder="floppy@apoc.com">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Password</span>
    <input type="password" ng-model='MC.password' placeholder="">
  </label>
  <a href='#/home'><button ng-click='MC.signUp(MC.user_name, MC.email, MC.password)'class="button button-block button-positive">
  	Sign Up
	</button></a>
</div>