
/***** Home Screen *****/

html {
	font-size: 16px;
}

a {
	text-decoration:none
}

h3 {
	text-align: center;
}

.homeCol {
	text-align: center;
	vertical-align: middle;
}

.homescreen {
	background-image: url('../img/backgroundapocalypse.png');
	background-repeat: no-repeat;
	background-size: cover;
	/*background-color: red;*/
}

.title {
	font-family: 'KarmaFuture';
	color: white;
	font-size: 3.25rem;
	text-align: center;
}

.scoreTitle {
	font-family: 'KarmaFuture';
	color: white;
	font-size: 2rem;
}

.scores {
	font-family: 'Press Start 2P';
	font-size: .75rem;
	color: white;
}
.copyright {
	font-family: 'Press Start 2P';
	font-size: .3rem;
	color: white;
}
.birds {
	width: 50%;
	margin-left: 2.5rem;
}
.play {
	color: rgb(96, 136, 78);
}
.back {
	margin-top: 1rem;
}
.button {
	font-family: "Press Start 2P";
	font-size: .5rem
}

@font-face{
	font-family: 'KarmaFuture';
	src: url('../fonts/karma/karmafuture-webfont.eot');
	src: url('../fonts/karma/karmafuture-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/karma/karmafuture-webfont.woff') format('woff'),
	     url('../fonts/karma/karmafuture-webfont.ttf') format('truetype'),
	     url('../fonts/karma/karmafuture-webfont.svg#webfont') format('svg');
}
